@media (max-width: 500px) {
    .contenedor {
        width: 320px;
        margin-left: auto;
        margin-right: auto;
    }
    header {
        margin-top: 20px;
        border: 15px solid black;
    }
    header nav .caja1 {
        display: block;
        margin-left: 20px;

    }
    header .caja2 {
        height: 30px;
        margin-top: 0px;
    }
    main {
        border: 15px solid yellowgreen;
        grid-template-columns: 6fr;
        margin: 0 0 10px 0;
    }
    footer {
        border: 15px solid black;
    }
    main .caja3 {
        width: 100%;
        border-right: 0;
    }
    main .caja4 {
        width: 100%;
        margin-bottom: 10px;
    }
    main .caja5 {
        width: 100%;
        border-right: 0;
    }
    .caja4 {
        width: 50%;
    }
    .caja5 {
        width: 50%;
    }
    nav .c1, nav .c2, nav .c3 {
        width: 80%;
        height: 20px;
        margin: 10px 10px 10px 10px;
    }
    .c4 {
        width: 75%;
        margin-top: 6px;
        margin-bottom: 5px;
    }
    .c5 {
        width: 80%;
        height: 20px;
    }
    .c6 {
        width: 80%;
        margin: 20px 0 0 20px;
        height: 20px;
    }
    .c7 {
        width: 80%; 
        height: 20px;
    }
    .c8 {
        width: 80%;
        margin: 20px 0 0 20px;
        height: 20px;
    }
    .c9 {
        width: 80%;
        margin: 20px 0 0 20px;
        height: 20px;
    }
    .c10 {
        width: 80%;
        margin: 20px 0 0 20px;
        height: 20px;
    }
    .c11 {
        width: 80%;
        margin: 20px 0 10px 20px;
        height: 20px;
    }
}