* {
    margin: 0;
    padding: 0;
}
.contenedor {
    max-width: 1200px;
    margin: 0 auto;  
}
header {
    height: 250px;
    margin-top: 15px;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    background: tomato;
    border: 30px solid black;
}
header nav {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}
header nav .caja1 {
    width: 100%;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
ul {
    margin: 0;
    padding: 0;
}
nav .c1 {
    position: relative;
    display: flex;
    justify-content: center;
    width: 20%;
    height: 30px;
    margin-top: 20px;
    background-color: blue;
}
nav .c2 {
    position: relative;
    display: flex;
    justify-content: center;
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
    background-color: blue;
}
nav .c3 {
    position: relative;
    display: flex;
    justify-content: center;
    width: 20%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
    background-color: blue;
}
main {
    position: relative;
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-row-start: auto;
    background: plum;
    border: 30px solid black;
    margin-bottom: 10px;
}
footer {
    height: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    background: peachpuff;
    border: 30px solid black;
}
.caja2 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 80px;
    margin-top: 50px;
    border-block-start: 20px solid black;
    
}
.c4 {
    position: relative;
    width: 92%;
    height: 30px;
    margin-top: auto;
    margin-left: 50px;
    background-color: aqua;
}
main .caja3 {
    height: auto;
    margin: 0;
    background-color: plum;
    border-right: 30px solid black;
}
main .caja3 div {
    display: inline-block;
}
main .caja4 div {
    display: inline-block;
}
main .caja5 div {
    display: inline-block;
}
.c5 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 40%;
    height: 30px;
    margin-top: 40px;
    margin-left: 20px;
    background-color: coral;
}
.c6 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 30px;
    margin-top: 40px;
    margin-left: 60px;
    background-color: coral;
}
.c7 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 30px;
    margin-top: 40px;
    margin-left: 20px;
    background-color: coral;
}
.c8 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 30px;
    margin-top: 40px;
    margin-left: 60px;
    background-color: coral;
}
.c9 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 30px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 20px;
    background-color: coral; 
}
.c10 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 30px;
    margin-top: 40px;
    margin-left: 20px;
    background-color: coral; 
}
.c11 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 30px;
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: coral; 
}

/* MOBILE 1*/
@media (min-width: 90px) and (max-width: 180px) {
    header {
        height: 200px;
        margin-top: 10px;
        border: 15px solid black;
    }
    header nav .caja1 {
        display: block;
        height: 80px;
    }
    header .caja2 {
        margin-top: 30px;
    }
    main {
        border: 15px solid yellowgreen;
        grid-template-columns: 6fr;
        margin: 0 0 10px 0;
    }
    footer {
        border: 15px solid black;
    }
    main .caja3 {
        border-right: 0;
    }
    main .caja4 {
        margin-bottom: 10px;
    }
    main .caja5 {
        border-top: 15px solid yellowgreen;
        margin-bottom: 10px;
    }
    nav .c1, nav .c2, nav .c3 {
        width: 80%;
        height: 20px;
        margin: 10px 10px 10px 10px;
    }
    .c4 {
        width: 75%;
        height: 20px;
        margin-top: 20px;
        margin-left: 10px;
    }
    .c5, .c7 {
        width: 50%;
        height: 20px;
        margin-top: 20px;
    }
    .c6, .c8, .c9, .c10, .c11 {
        width: 50%;
        margin: 20px 0 0 20px;
        height: 20px;
    }
}
/* MOBILE 2*/
@media (min-width: 181px) and (max-width: 319px) {
    header {
        height: 200px;
        margin-top: 10px;
        border: 15px solid black;
    }
    header nav .caja1 {
        display: block;
        height: 80px;
        margin-left: 20px;
    }
    header .caja2 {
        margin-top: 30px;
    }
    main {
        border: 15px solid yellowgreen;
        grid-template-columns: 6fr;
        margin: 0 0 10px 0;
    }
    footer {
        border: 15px solid black;
    }
    main .caja3 {
        width: 100%;
        border-right: 0;
    }
    main .caja4 {
        margin-bottom: 10px;
    }
    main .caja5 {
        border-top: 15px solid yellowgreen;
        margin-bottom: 10px;
    }
    nav .c1, nav .c2, nav .c3 {
        width: 80%;
        height: 20px;
        margin: 10px 10px 10px 10px;
    }
    .c4 {
        width: 75%;
        height: 20px;
        margin-left: 25px;
        margin-top: 20px;
    }
    .c5, .c7 {
        width: 80%;
        height: 20px;
        margin-top: 20px;
    }
    .c6, .c8, .c9, .c10, .c11 {
        width: 80%;
        margin: 20px 0 0 20px;
        height: 20px;
    }
}
/* MOBILE 3 */
@media (min-width: 320px) and (max-width: 480px) {
    header {
        height: 200px;
        margin-top: 10px;
        border: 15px solid black;
    }
    header nav .caja1 {
        display: block;
        margin-left: 20px;
        height: 80px;
    }
    header .caja2 {
        margin-top: 30px;
    }
    main {
        border: 15px solid yellowgreen;
        grid-template-columns: 6fr;
        margin: 0 0 10px 0;
    }
    footer {
        border: 15px solid black;
    }
    main .caja3 {
        border-right: 0;
    }
    main .caja4 {
        margin-bottom: 10px;
    }
    main .caja5 {
        border-top: 15px solid yellowgreen;
        margin-bottom: 10px;
    }
    nav .c1, nav .c2, nav .c3 {
        width: 80%;
        height: 20px;
        margin: 10px 10px 10px 10px;
    }
    .c4 {
        width: 75%;
        height: 20px;
        margin-left: 30px;
        margin-top: 20px;
    }
    .c5, .c7 {
        width: 80%;
        height: 20px;
        margin-top: 20px;
    }
    .c6, .c8, .c9, .c10, .c11 {
        width: 80%;
        margin: 20px 0 0 20px;
        height: 20px;
    }
}


/* TABLET */
@media (min-width: 481px) and (max-width: 767px){
    header {
        margin: 5px 0 10px 0;
        height: 170px;
    }
    main {
        border: 25px solid yellowgreen;
        grid-template-columns: 6fr;
    }
    footer {
        border: 25px solid black;
    }
    header .caja2 {
        margin-top: 30px;
    }
    main .caja3 {
        width: 100%;
        border-right: 25px solid yellowgreen;
    }
    main .caja5 {
        border-top: 20px solid yellowgreen;
    }
    .c4 {
        width: 93%;
        height: 25px;
        margin-top: 10px;
        margin-left: 25px;
    }
    .c5, .c6, .c7, .c8 {
       margin-top: 20px;
    }
    .c6, .c8 {
       margin-left: 40px;
       margin-top: 20px;
    }
    .c9, .c10 {
        margin-top: 20px;
    }
    .c11 {
        margin-top: 20px;
    }
}
