* {
    margin: 0;
    padding: 0;
}
.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    
}
header {
    height: 200px;
    margin-top: 15px;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    background: tomato;
    border: 30px solid black;
}
header nav {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}
header nav .caja1 {
    width: 100%;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
ul {
    margin: 0;
    padding: 0;
}
nav .c1 {
    position: relative;
    display: flex;
    justify-content: center;
    width: 20%;
    height: 30px;
    margin-top: 20px;
    background-color: blue;
}
nav .c2 {
    position: relative;
    display: flex;
    justify-content: center;
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
    background-color: blue;
}
nav .c3 {
    position: relative;
    display: flex;
    justify-content: center;
    width: 20%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
    background-color: blue;
}

main {
    position: relative;
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-row-start: auto;
    background: plum;
    border: 30px solid black;
    margin-bottom: 10px;
}
footer {
    height: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    background: peachpuff;
    border: 30px solid black;
}


.caja2 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 80px;
    margin-top: 50px;
    border-block-start: 10px solid black;
    background-color: darkorange;
}
.c4 {
    position: relative;
    width: 95%;
    height: 30px;
    margin-top: 20px;
    margin-left: 30px;
    background-color: aqua;
}
main .caja3 {
    height: auto;
    margin: 0;
    background-color: plum;
    border-right: 30px solid black;
}

main .caja3 div {
    display: inline-block;
}
main .caja4 div {
    display: inline-block;
}
main .caja5 div {
    display: inline-block;
}

.c5 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 40%;
    height: 30px;
    margin-top: 40px;
    margin-left: 20px;
    background-color: coral;
}
.c6 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 30px;
    margin-top: 40px;
    margin-left: 60px;
    background-color: coral;
}
.c7 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 30px;
    margin-top: 40px;
    margin-left: 20px;
    background-color: coral;
}
.c8 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 30px;
    margin-top: 40px;
    margin-left: 60px;
    background-color: coral;
}
.c9 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 30px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 20px;
    background-color: coral; 
}
.c10 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 30px;
    margin-top: 40px;
    margin-left: 20px;
    background-color: coral; 
}
.c11 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 30px;
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: coral; 
}

